/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  --clr-cyan: 179, 62%, 43%;
  --clr-bright-yellow: 71, 73%, 54%;

  --clr-light-gray: 204, 43%, 93%;
  --clr-grayish-blue: 218, 22%, 67%;

  /* FONT FAMILY */
  --ff-karla: 'Karla', sans-serif;

  /* FONT SIZE */
  --fs-default: 1rem;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-bold: 700;
}

/**------------------- 
**    UTILITIES
--------------------*/
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  font-family: var(--ff-karla);
  font-size: var(--fs-default);
  font-weight: var(--fw-regular);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;
}
